@model IEnumerable<CinemaIS.Models.Hall>

@{
    ViewData["Title"] = "Залы";
}

<h1>Залы</h1>

<p>
    <a class="link-danger" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Schema)
            </td>
            <td>
                <a class="link-danger" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a class="link-danger" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a class="link-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
