@model CinemaIS.Models.Session

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление сеанса</h1>

<h3>Вы действительно хотите сделать это?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Model.Movie.Name
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к сеансам</a>
    </form>
</div>
