@model CinemaIS.ViewModels.MovieWithSessionTabs

@{
    ViewData["Title"] = Model.Movie.Name;
}

<div>
    <h1>
        @Model.Movie.Name
        <span class="badge bg-secondary">@Model.Movie.AgeLimit+</span>
    </h1>
    <h4>@Model.Movie.ReleaseDate.Year</h4>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Movie?.Id" class="text-danger">
            Редактировать
        </a>
    }
</div>
<hr />
<div>
    <div class="row">

        <div class="col-md-4">
            <img class="card-img movie-poster" src="@("~/images/" + Model.Movie.PosterUrl)" asp-append-version="true" alt="">
        </div>
        <div class="col">
            <table class="table">
                <tr>
                    <th>Продолжительность</th>
                    <td>@Model.Movie.Duration</td>
                </tr>
                <tr>
                    <th>Жанры</th>
                    <td>@Model.Movie.Genres.Replace(",", ", ")</td>
                </tr>
                <tr>
                    <th>Страны</th>
                    <td>@Model.Movie.Countries.Replace(",", ", ")</td>
                </tr>
                <tr>
                    <th>Дата выхода в прокат</th>
                    <td>@Model.Movie.ReleaseDate.ToString("dd.MM.yyyy")</td>
                </tr>
            </table>
            <p>
                @Model.Movie.Description
            </p>
        </div>
    </div>
</div>
<hr />
<div>
    <h3>Сеансы</h3>
    <ul class="nav nav-pills mb-2" id="myTab" role="tablist">
        @foreach (var tab in Model.SessionsByDateTabs)
        {
            <li class="nav-item" role="presentation">
                <button class="nav-link @(tab.Sessions.Count == 0 ? "disabled" : "")"
                        id="@tab.HtmlId-tab" data-bs-toggle="tab" data-bs-target="#@tab.HtmlId"
                        type="button" role="tab" aria-controls="@tab.HtmlId" aria-selected="false">
                    @tab.Title
                </button>
            </li>
        }
    </ul>

    <div class="tab-content" id="myTabContent">
        @foreach (var tab in Model.SessionsByDateTabs)
        {
            <div class="tab-pane fade" id="@tab.HtmlId" role="tabpanel" aria-labelledby="@tab.HtmlId-tab">
                @foreach (var session in tab.Sessions)
                {
                    <a class="btn btn-primary" role="button" 
                    asp-controller="Orders"
                    asp-action="ChooseSeats" 
                    asp-route-sessionId="@session.Id">
                        @session.DateTime.ToString("hh:mm")
                        <br>
                        <span class="badge bg-info text-dark">@session.MinPrice ₽</span>
                    </a>
                }
            </div>
        }
    </div>
</div>
<hr />
<div>
    <a asp-action="Index">Назад к афише</a>
</div>
